@using WeCommon
@using WePing.domain
<div style="display:inline-flex">
    <h5>
        <WeBadge Color="@ClassBadge" >
            @if (ShowValue )
            {
            @Score
            }
            else
            {
                @:&nbsp;
            }
        </WeBadge>
    </h5>
</div>

@code {
    [Parameter] public StatutRencontre Statut { get; set; } = StatutRencontre.None;
    [Parameter] public double Score { get; set; }
    [Parameter] public bool ShowValue { get; set; } = true;
    
    [Parameter] public bool AsValue { get; set; } = true;
    Color ClassBadge =>
        AsValue && Score<0?Color.Danger
        :AsValue && Score>0?Color.Success
        :AsValue && Score==0?Color.Primary
        :Statut switch
        {
            StatutRencontre.Gagne => Color.Success,
            StatutRencontre.Perdu => Color.Danger,
            StatutRencontre.Nul => Color.Primary,
            _ => Color.Dark

        };

}
